<template name="venuesList">
	<section class="venues-list">
		{{#if venuesCount}}
			<div class="table-control">
				<button type="button" class="btn btn-primary btn-sm csv">Export CSV</button>
				<span class="venues-count">{{venuesCount}} Venues</span>
			</div>
			<table class="table venues">
				<thead>
				<tr>
					<td class="first">Name</td>
					<td>City</td>
					<td>Street Address</td>
					<td>Latitude</td>
					<td class="last">Longitude</td>
				</tr>
				</thead>
				<tbody>
				{{#each venues}}
					<tr>
						<td data-title="Name" class="first">{{name}}</td>
						<td data-title="City">
							{{#if location.city}}
								{{location.city}}
							{{else}}
								<span class="not-available">data not available</span>
							{{/if}}
						</td>
						<td data-title="Street Address">
							{{#if location.address}}
								{{location.address}}
							{{else}}
								<span class="not-available">data not available</span>
							{{/if}}
						</td>
						<td data-title="Latitude">{{formatLatLng location.lat}}</td>
						<td data-title="Longitude" class="last">{{formatLatLng location.lng}}</td>
					</tr>
				{{/each}}
				</tbody>
			</table>
		{{/if}}
	</section>
</template>