<template name="prevQueries">
	<section class="previous-queries">
		{{#each queries}}
			<div class="query-item">
				<div class="query">
					<span><a href class="request"><strong>{{query}}</strong></a></span>
					<span>{{formatLatLng lat}}</span> <span>{{formatLatLng lng}}</span>
					<span>{{formatDistance radius}}</span> <span>{{formatTime date}}</span>
				</div>
				<div class="delete-query">
					<span class="glyphicon glyphicon-trash"></span>
				</div>
			</div>
		{{/each}}
		<div class="clear"></div>
	</section>
</template>